<table>
    <tbody>
        {{#row}}
            <tr>
                {{#col}}
                <td class="{{#if this.isUp}}top {{/if}}{{#if this.isRight}} right {{/if}}{{#if this.isDown}} bottom {{/if}}{{#if this.isLeft}} left{{/if}}">
                    {{#if this.isPokemons}}
                        <!-- <img src="app/assets/img/{{this.pokemonNumber}}.png" /> -->
                        <div style="display: inline-block; width: 80%; height: 50px; background-color: red;"></div>
                    {{/if}}
                </td>
                {{/col}}
            </tr>
        {{/row}}
    </tbody>
</table>
